*{
    margin: 0;  padding: 0;
}

.container{
    padding: 0 3.5rem;
    margin-top: 2rem;
    /* border: 1px solid black; */
}

.child{
    /* border: 1px solid red; */
    /* height: 450px; */
    display: flex;
    justify-content: space-between;
}

.box{
    width: 23.5%;
    border: 1px solid rgb(239, 231, 231);
    height: 480px;
    position: relative;
    box-shadow: 1px 1px 1px 1px rgb(222, 217, 217);
}

.box img{
    width: 100%;
}

.box h1{
    padding: 30px 20px 15px 20px;
    font-size: 30px;
}

.box p{
    padding: 0 20px 0px 20px;
}

.box button{
    position: absolute;
    bottom: 10px;
    left: 20px;
    background-color: #0067b8;
    color: white;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 17px;
}